body {
  margin: 0;
  font-family: Verdana, Arial;
  font-size: 16px;
}

#sidebar {
  margin-top: 0;
  padding-left: 25px;
  padding-bottom: 25px;
  padding-top: 25px;

  box-shadow: 0 0 40px #ccc;
  border-right: 1px solid #bbb;
  overflow: auto;
}

@media (max-width: 40rem) {
  #sidebar {
    position: absolute;
    background: white;
    transform: translateX(-100%);
    transition: 1s transform ease;
    width: auto;
    height: 100%;
    overflow: auto;
  }
  main {
    position: relative;
    height: 100%;
  }
  #content {
    padding: 10px;
  }
}

@media (min-width: 40rem) {
  #sidebar {
    width: 280px;
    /* position: fixed; */
    height: 100%;
    margin-right: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
  }
}

a:visited,
a:link {
  color: #4682be;
  text-decoration: none;
}

#content {
  margin-left: 20px;
  margin-right: 20px;
  overflow: auto;
  margin: 0 auto;
  box-sizing: border-box;
  counter-reset: section;
}

@media (min-width: 40rem) {
  #content {
    width: 680px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px 20px 50px;
    margin: 0 auto;
    padding-right: 20px;
  }
}

#flip {
  /*position: fixed;*/
  /*height: 20px;*/
  /*width: 100%;*/
  /*bottom: 10px;*/
  margin: 3rem 0 0 0;
  font-size: 10px;
  text-align: center;
}

#pageup,
#pagedown {
  height: 20px;
  width: 70px;
  display: inline-block;
  border-radius: 5px;
  background-color: #aaa;
  text-align: center;
  line-height: 20px;
  color: #fff;
}

#pageup:hover,
#pagedown:hover {
  background-color: #444;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
  height: 0px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(86, 102, 141, 1);
  cursor: pointer;
  border-radius: 9px;
}

header {
  height: 45px;
  line-height: 45px;
  display: flex;
  width: 100%;
  z-index: 1;
}
header ol {
  background: rgba(86, 102, 141, 1);
  width: 100%;
  margin: 0;
  padding: 0;
}
header li {
  display: inline-block;
}
.github {
  padding: 16px;
  display: inline-block;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
}

.nav.navbar-nav {
  position: fixed;
}
.nav li {
  padding: 0 10px;
}
